.maryBerryTitle {
  font-family: 'Carattere', cursive;
  text-align: center;
  font-size: 64px;
}

.fancyButton {
  background-color: cadetblue;
  border-radius: 25px;

  padding-left: 15px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;

  margin-top: 30px;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

.noEffect {
  text-decoration: none;
  color: white;
}

html,
body {
  background-color: black;
  color: white;
}
